.logo {
    width: 26px;
    height: auto;
    fill: var(--fgColor-default);
    stroke: var(--fgColor-default);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 0 16px;
    margin: 0;
}

.body {
    padding: 8px 16px 16px 16px;
    display: flex;
    flex-direction: column;
}