.courseBox {
    width: 72px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--bgColor-default);
    border: 1px solid;
    font-size: 8px;
    font-weight: var(--base-text-weight-semibold);
}

.none {
    border-color: var(--borderColor-muted);
    color: var(--fgColor-muted);
}
.pm {
    border-color: var(--borderColor-accent-muted);
    color: var(--fgColor-accent);
}
.vm {
    border-color: var(--borderColor-attention-muted);
    color: var(--fgColor-attention);
}
.sm {
    border-color: var(--borderColor-open-muted);
    color: var(--fgColor-open);
}
.em {
    border-color: var(--borderColor-done-muted);
    color: var(--fgColor-done);
}
.va {
    border-color: var(--borderColor-sponsors-muted);
    color: var(--fgColor-sponsors);
}
.lm {
    border-color: var(--borderColor-severe-muted);
    color: var(--fgColor-severe);
}

.issues {
    border-color: var(--borderColor-danger-muted);
    color: var(--fgColor-danger);
}