.courseBox {

    width: 72px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--bgColor-default);
    border: var(--borderColor-muted) 1px solid;

    color: var(--fgColor-muted);
    font-size: 8px;
    font-weight: var(--base-text-weight-semibold);
}

.hasIssues {
    border: 1px solid var(--fgColor-danger);
    color: var(--fgColor-danger);
}

.courseGrid {

    min-height: calc(3 * 72px + 4 * 8px + 2px);
    min-width: calc(3 * 72px + 4 * 8px + 2px);

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--bgColor-default);
    border: var(--borderColor-muted) 1px solid;
    border-radius: 8px;
    gap: 8px;
    padding: 8px;

}

.semesterBox {

    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px 32px 16px;
    background-color: var(--bgColor-default);
    border-radius: 8px;
    border: var(--borderColor-muted) 1px solid;
    gap: 8px;

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: var(--fgColor-default);
        font-weight: var(--base-text-weight-semibold);
    }

}

.semesterGrid {
  display: grid;
  width: fit-content;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1205px) {
  .semesterGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 910px) {
  .semesterGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
