.guide {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list {
    margin: 0;
    padding-left: 32px;
}

.list li {
    margin-bottom: 4px;
}