.actionMenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    border: 1px solid var(--borderColor-muted);
    border-radius: 8px;
    padding: 16px;
}

.actionMenuItems {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.actionMenuHeader {
    color: var(--fgColor-default);
    font-weight: var(--base-text-weight-semibold);
}