.plannerPage {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.searchBox {
    flex-grow: 1;
    min-width: 0;
}

.semesterGrid {
    flex-shrink: 0;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 16px;
}