.searchBox {
    height: fit-content;
    background-color: var(--bgColor-muted);
    border-radius: 8px;
    padding: 16px;
}

.searchResultBox {
    width: 100%;
    background-color: var(--bgColor-default);
    border-radius: 8px;
    border: 1px solid var(--borderColor-muted);
    overflow-x: auto;
    padding: 8px;
}

.coursesResult {
    display: flex;
    min-width: max-content;
    gap: 8px;
}

.formControlLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}