.courseBox {
    width: var(--course-box-size);
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--bgColor-default);
    border: 1px solid;
    font-size: var(--font-size-course);
    font-weight: var(--base-text-weight-semibold);
}

.courseBox:focus {
    outline: none;
}

.overlay {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 4px;
    flex-wrap: wrap;
    font-size: var(--font-size-overlay);
}

.overlayDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--fgColor-muted);
}

.none {
    border-color: var(--borderColor-muted);
    color: var(--fgColor-muted);
}
.pm {
    border-color: var(--borderColor-accent-muted);
    color: var(--fgColor-accent);
}
.vm {
    border-color: var(--borderColor-attention-muted);
    color: var(--fgColor-attention);
}
.sm {
    border-color: var(--borderColor-open-muted);
    color: var(--fgColor-open);
}
.em {
    border-color: var(--borderColor-done-muted);
    color: var(--fgColor-done);
}
.va {
    border-color: var(--borderColor-sponsors-muted);
    color: var(--fgColor-sponsors);
}
.lm {
    border-color: var(--borderColor-severe-muted);
    color: var(--fgColor-severe);
}

.issues {
    border: 1px dashed var(--borderColor-danger-emphasis);
    color: var(--fgColor-danger);
}