.moduleGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 16px;
}

.moduleBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
    background-color: var(--bgColor-default);
    border-radius: 8px;
    border: var(--borderColor-muted) 1px solid;

    .content {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .labels {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
        }

        .curricula {
            .curriculumItem {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                .eap {
                    color: var(--fgColor-muted);
                }
            }
        }
    }

    .courses {
        display: flex;
    }
}

.issues {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 910px) {
    .moduleGrid {
        grid-template-columns: 1fr;
    }
}