.modulePage {
    display: flex;
    flex-direction: column;
    padding: 16px;

    .moduleHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .moduleHeader {
        justify-content: space-between;
    }
}