.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}


.logo {
    width: 50%;
    stroke: var(--fgColor-default);
}

.cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 32px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .logo {
        width: 100%;
    }

    .cards {
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }
}