.alert {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 8px;
    gap: 4px;
}

.alertTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    white-space: pre-line;
}

.alertText {
    white-space: pre-line;
}

.alert.danger {
    color: var(--fgColor-danger);
    background-color: var(--bgColor-danger-muted);
}

.alert.warning {
    color: var(--fgColor-attention);
    background-color: var(--bgColor-attention-muted);
}

.alert.info {
    color: var(--fgColor-accent);
    background-color: var(--bgColor-accent-muted);
}

.alert.success {
    color: var(--fgColor-success);
    background-color: var(--bgColor-success-muted);
}

.courseCodes {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

.courseCode {
    cursor: pointer;
    margin-right: 4px;
}

.courseCode:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .alertTitle,
    .courseCodes,
    .alertText {
        font-size: 8px !important;
    }

    .alertTitle svg {
        width: 8px !important;
        height: 8px !important;
    }
}