.courseDetails {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    gap: 8px;

    .header {
        display: flex;
        flex-direction: column;
    }

    .labels {
        display: flex;
        flex-direction: row;
        gap: 4px;
    }

    .issues {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .selectors {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .selector {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
    }

    .courseCodeLink {
        cursor: pointer;
        color: var(--fgColor-accent);
    }

    .courseCodeLink:hover {
        text-decoration: underline;
    }

    .courseDetailsFooter {
        display: flex;
        align-self: flex-end;
        margin-top: auto;
    }
}