:root {
    --course-box-size: 72px;
    --gap-size: 8px;
    --semester-padding-vertical: 32px;
    --semester-padding-horizontal: 16px;
    --semester-grid-gap: 16px;
    --font-size-course: 8px;
    --font-size-header: 14px;
    --font-size-overlay: 14px;

    .issues {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

/* Smaller screens */
@media (max-width: 768px) {
    :root {
        --course-box-size: 60px;
        --gap-size: 6px;
        --semester-padding-vertical: 24px;
        --semester-padding-horizontal: 12px;
        --semester-grid-gap: 12px;
        --font-size-course: 7px;
        --font-size-header: 12px;
        --font-size-overlay: 12px;
    }
}

/* Larger screens */
@media (min-width: 1200px) {
    :root {
        --course-box-size: 96px;
        --gap-size: 11px;
        --semester-padding-vertical: 43px;
        --semester-padding-horizontal: 21px;
        --semester-grid-gap: 21px;
        --font-size-course: 11px;
        --font-size-header: 19px;
        --font-size-overlay: 14px;
    }
}

@media (min-width: 1600px) {
    :root {
        --course-box-size: 112px;
        --gap-size: 13px;
        --semester-padding-vertical: 50px;
        --semester-padding-horizontal: 25px;
        --semester-grid-gap: 25px;
        --font-size-course: 13px;
        --font-size-header: 22px;
        --font-size-overlay: 16px;
    }
}

@media (min-width: 2000px) {
    :root {
        --course-box-size: 128px;
        --gap-size: 15px;
        --semester-padding-vertical: 57px;
        --semester-padding-horizontal: 28px;
        --semester-grid-gap: 28px;
        --font-size-course: 15px;
        --font-size-header: 25px;
        --font-size-overlay: 18px;
    }
}